.DS_Store
.editorconfig
*.lock
/media/*
!/media/index.html
/site/cache/*
!/site/cache/index.html
/site/accounts/*
!/site/accounts/index.html
/site/sessions/*
!/site/sessions/index.html
/site/config/.license
