# Kirby .htaccess

# Rewrite rules
<IfModule mod_rewrite.c>

RewriteEngine on

# Redirect legacy domain links
RewriteCond %{HTTP_HOST} !.*newtonglossary\.com$ [NC]
RewriteRule ^(.*)$ http://newtonglossary.com/$1 [R=301,L]

# Redirect legacy pages
Redirect 301 /terms/electro-luminescent-panel http://newtonglossary.com/terms/electroluminescent-panel
Redirect 301 /terms/in-out-box http://newtonglossary.com/terms/inout-box

# Add modification timestamps to css and js files via Cachebuster plugin
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.(\d+)\.(js|css)$ $1.$3 [L]

# Block text files in the content folder from being accessed directly
RewriteRule ^content/(.*)\.(txt|md|mdown)$ index.php [L]

# Block all files in the site folder from being accessed directly
RewriteRule ^site/(.*) index.php [L]

# Block all files in the kirby folder from being accessed directly
RewriteRule ^kirby/(.*) index.php [L]

# Make panel links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^panel/(.*) panel/index.php [L]

# Make site links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]

</IfModule>
