# Kirby .htaccess

Options -Indexes

<IfModule mod_rewrite.c>

# Rewrite rules
RewriteEngine on

# Bluehost stupidity
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$

# Redirect legacy domain links
RewriteCond %{HTTP_HOST} !.*newtonglossary\.com$ [NC]
RewriteRule ^(.*)$ https://newtonglossary.com/$1 [R=301,L]

# Forced SSL
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

# Redirect legacy pages
Redirect 301 /sources/ezshow https://newtonglossary.com/sources/ezshow-systems
Redirect 301 /sources/newton-apple-messagepad-handbook https://newtonglossary.com/sources/messagepad-handbook-1993
Redirect 301 /sources/newton-toolkit-user-guide https://newtonglossary.com/sources/newton-toolkit-users-guide
Redirect 301 /terms/autoexpand https://newtonglossary.com/terms/auto-expand
Redirect 301 /terms/autoexpansion https://newtonglossary.com/terms/auto-expansion
Redirect 301 /terms/autoexpansion-dictionary https://newtonglossary.com/terms/auto-expansion-dictionary
Redirect 301 /terms/central-processing-unit https://newtonglossary.com/terms/cpu
Redirect 301 /terms/electro-luminescent-panel https://newtonglossary.com/terms/electroluminescent-panel
Redirect 301 /terms/hidee https://newtonglossary.com/terms/hideeworld
Redirect 301 /terms/in-out-box https://newtonglossary.com/terms/inout-box
Redirect 301 /terms/llama-dos https://newtonglossary.com/terms/llamados
Redirect 301 /terms/memory-management-unit https://newtonglossary.com/terms/mmu
Redirect 301 /terms/nickel-cadmium https://newtonglossary.com/terms/nicd
Redirect 301 /terms/nickel-metal-hydride https://newtonglossary.com/terms/nimh
Redirect 301 /terms/patchable-jumptable https://newtonglossary.com/terms/patchable-jump-table
Redirect 301 /terms/personal-interactive-electronics https://newtonglossary.com/terms/pie
Redirect 301 /terms/public-jumptable https://newtonglossary.com/terms/public-jump-table
Redirect 301 /terms/softwareburo-muller https://newtonglossary.com/sources/softwareburo-muller

# Add modification timestamps to css and js files via Cachebuster plugin
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.(\d+)\.(js|css)$ $1.$3 [L]

# Block text files in the content folder from being accessed directly
RewriteRule ^content/(.*)\.(txt|md|mdown)$ index.php [L]

# Block all files in the site folder from being accessed directly
RewriteRule ^site/(.*) index.php [L]

# Block all files in the kirby folder from being accessed directly
RewriteRule ^kirby/(.*) index.php [L]

# Make panel links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^panel/(.*) panel/index.php [L]

# Make site links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]

</IfModule>
