* {
	margin: 0;
	padding: 0;
	}

html {
	height: 101%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	}

body {
	background: #fff;
	color: #666;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
	line-height: 26px;
	margin: 3em auto;
	width: 600px;
	}

form {
	margin-bottom: 20px;
	}
	
input {
	-webkit-appearance: none;
	}

input[type="search"] {
	border: 1px solid #ccc;
	font-family: inherit;
	font-size: 1em;
	margin-bottom: 1em;
	padding: 1em .5em;
	width: 100%;
	}
	
input[type="submit"] {
	background-color: #444;
	border-radius: 0.3em;
	border: none;
	color: #FFF;
	display: inline-block;
	font-family: inherit;
	font-size: 1em;
	font-weight: bold;
	padding: .5em 1em;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	}

input[type="submit"]:hover {
	background-color: #090;
	}

a {
	color: #444;
	text-decoration: none;
	}

a,
a:hover,
a:active,
a:visited {
	outline: none;
	}

a:hover {
	color: #090;
	border-bottom: none;
	}

img {
	border: 1px solid #DDD;
    display: block;
    margin: 2em auto;
    outline: none;
    padding: 1em;
	}

h1 {
	color: #444;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 10px;
	}

header h1 {
	font-size: 48px;
	margin-bottom: 20px;
	}

h2 {
	border-bottom: 1px #DDD solid;
	color: #444;
	font-size: 18px;
	margin: 40px 0 20px 0;
	padding-bottom: 10px;
	}

h3 {
	color: #444;
	font-size: 16px;
	margin-bottom: 20px;
	}

h4 {
	color: #090;
	font-weight: normal;
	}

blockquote {
	margin-bottom: 20px;
	background: #EEE;
	padding: 20px 10px 20px 30px;
	border-left: 20px solid #CCC;
	}
	
p {
	margin-bottom: 15px;
	}

code {
	background-color: #F8F8F8;
	border-radius: 3px;
	border: 1px solid #DDD;
	color: #333;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 15px;
	line-height: initial;
	padding: 2px 5px 1px 5px;
	white-space: pre;
	}

article ul,
article ol {
	margin-bottom: 20px;
	margin-left: 40px;
	}

article ul.src,
article ul.rslt {
	margin-left: 0;
	}

article ul.src li,
article ul.rslt li {
	list-style: none;
	}

article ul.rslt li {
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
	margin-bottom: 10px;
	}

article ul.rslt li:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
	}

nav {
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	color: #CCC;
	overflow: hidden;
	padding: 10px 0;
	}

nav li {
	list-style: none;
	margin-right: 20px;
	font-weight: bold;
	float: left;
	}

nav li a.active {
	color: #090;
	font-weight: bold;
	}

nav.submenu {
	border-top: none;
	margin-bottom: 20px;
	}

nav.submenu.alphabetical {
	border-bottom: none;
	}

nav.submenu.alphabetical li {
	float: none;
	}

nav.submenu.alphabetical li a {
	font-weight: normal;
	}
nav.submenu.alphabetical h2 {
	margin-top: 0;
	}

.content {
	margin-top: 40px;
	}

.content a {
	border-bottom: 2px #090 solid;
	padding-bottom: 1px;
	}
	
.content a:hover {
	border-bottom: 2px #FFF solid;
	}

.mouseprint {
	font-size: 13px;
	}

footer {
	border-top: 1px solid grey;
	font-size: 13px;
	margin-top: 40px;
	padding-top: 20px;
	}

footer a {
	color: #090;
	}

footer a:hover {
	color: #222;
	}



/*
	Tablet Screen Styles
*/

@media screen and (max-device-width: 1024px), screen and (max-width: 1024px) {

	body {
		-webkit-text-size-adjust: 100%;
		padding: 1em;
		margin: 0 auto;
		width: 800px;
		}

	p {
		margin-bottom: 20px;
		}

	header h1 {
		font-size: 30px;
		margin-bottom: 10px;
		}

	section.content {
		margin-top: 20px;
		}

	article ul,
	article ol {
		margin-left: 20px;
		}

	footer {
		margin-top: 20px;
		}
	}
	
	
/*
	Small Screen Styles
*/

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px) {

	body {
		-webkit-text-size-adjust: 100%;
		padding: 1em;
		margin: 0 auto;
		width: 90%;
		}

	h1,
	header h1 {
		font-size: 20px;
		margin-bottom: 10px;
		}

	h2 {
		margin: 20px 0 20px 0;
		}
	
	p {
		margin-bottom: 20px;
		max-width: 100%;
		}

	header p {
		display: none;
		}

	nav li {
		margin-right: 15px;
		}
	
	section.content {
		margin-top: 20px;
		}

	article ul,
	article ol {
		margin-left: 20px;
		}

	footer {
		margin-top: 30px;
		}
	}
